In [1]:
import pandas as pd

# Работа с Pandas

1. Загрузите ваш DataFrame в переменную df и выведете на экран первые пять строк

In [2]:
try:
    df = pd.read_csv('googleplaystore .csv')
except:
    'You have to load file to directory before open it'
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0.0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

2. Отобразите количество строк и столбцов в DataFrame

In [3]:
df.shape

(10841, 13)

3. Выведете основную информацию о DataFrame методом info(). Проанализируйте есть ли пропуски в столбцах. Напишите вывод о том, какие столбцы содержат пропуски

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

In [5]:
df.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

Пропуски в следующих столбцах: Rating, Type, Content Rating, Current Ver, Android Ver

4. Удалите или замените пропуски известными вам методами. (Подсказка: `dropna()` или `fillna()`, выбор того или иного метода должен быть аргументирован).

In [6]:
# Для заполнения рейтинга можно взять медиану, так как много пропусков.
# Остальные пропуски можно удалить.

df.Rating = df.Rating.fillna(df.Rating.median())
df.dropna(inplace=True)

5. Проверьте нет ли пропусков после произведенной обработки

In [7]:
df.isna().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

6. Выведите на экран минимум и максимум из столбца `Price`:

In [8]:
print(f'Минимальная цена: {df.Price.min()}\nМаксимальная цена: {df.Price.max()}')

Минимальная цена: 0.0
Максимальная цена: 400.0

7. Выведите на экран медиану и среднее арифметическое столбцов:
 - Rating
 - Reviews

In [9]:
df.Reviews = df.Reviews.astype(int)

In [10]:
print(f'Rating: медиана = {df.Rating.median()}, среднее арифм. = {round(df.Rating.mean(), 2)}\n\
Reviews: медиана = {df.Reviews.median()}, среднее арифм. = {round(df.Reviews.mean(), 2)}')

Rating: медиана = 4.3, среднее арифм. = 4.21
Reviews: медиана = 2100.0, среднее арифм. = 444601.77

8. Выведите на экран все уникальные значения категориального столбца Genres

In [11]:
df.Genres.value_counts()

Genres
Tools                                840
Entertainment                        622
Education                            548
Medical                              463
Business                             460
                                    ...
Parenting;Brain Games                  1
Travel & Local;Action & Adventure      1
Lifestyle;Pretend Play                 1
Tools;Education                        1
Strategy;Creativity                    1
Name: count, Length: 119, dtype: int64

9. Сгруппируйте данные по столбцу `Genres` и посчитайте для каждого жанра средний и медианный рейтинг. Представьте результат в виде нового DataFrame,который будет сохранен в переменную `grouped_df`, где одна колонка будет содержать названия жарнов, а две другие буду содержать в себе средний и медианный рейтинги. Напишите краткий вывод.

In [12]:
grouped_df = df.groupby(by=['Genres'], as_index=False).agg(Rating_median = ('Rating','median'),
                                                 Rating_mean = ('Rating','mean'))
grouped_df

                                    Genres  Rating_median  Rating_mean
0                                   Action            4.3     4.285753
1                Action;Action & Adventure            4.3     4.311765
2                                Adventure            4.3     4.184000
3             Adventure;Action & Adventure            4.5     4.423077
4                    Adventure;Brain Games            4.6     4.600000
..                                     ...            ...          ...
114                Video Players & Editors            4.3     4.084393
115     Video Players & Editors;Creativity            4.1     4.100000
116  Video Players & Editors;Music & Video            4.0     4.000000
117                                Weather            4.3     4.248780
118                                   Word            4.4     4.406897

[119 rows x 3 columns]

10. Из получившегося датафрейма выведите на экран только те жанры, чей медианный рейтинг больше 4.5. Напишите краткий вывод.

In [13]:
grouped_df.loc[grouped_df.Rating_median > 4.5]

                          Genres  Rating_median  Rating_mean
4          Adventure;Brain Games            4.6     4.600000
11       Art & Design;Creativity            4.7     4.400000
18            Board;Pretend Play            4.8     4.800000
35             Comics;Creativity            4.8     4.800000
55      Entertainment;Creativity            4.6     4.533333
64    Health & Fitness;Education            4.7     4.700000
74           Music;Music & Video            4.6     4.533333
87              Puzzle;Education            4.6     4.600000
105  Strategy;Action & Adventure            4.6     4.600000

Количество жанров с высоким рейтингом от 4.5 баллов составляет 10% от общего количества жанров.

11. Выведете кол-во дубликатов в основном DataFrame (df) и удалите их

In [14]:
print(f'Количество дубликатов: {df[df.duplicated()].shape[0]}')

Количество дубликатов: 483

In [15]:
df.drop_duplicates(inplace=True)

12. Посчитатайте какое количество приложений содержится в каждом жанре (value_counts).В получившемся Series выведите на экран 10 строк с наибольшим количеством приложений отсортированных по убыванию.

In [16]:
df.Genres.value_counts().sort_values(ascending=False)[:10]

Genres
Tools              840
Entertainment      587
Education          526
Business           427
Medical            408
Productivity       407
Personalization    386
Lifestyle          372
Communication      366
Sports             364
Name: count, dtype: int64